# How to inital the workflow
# pre-work: install the module: `pip install python-dotenv`
# 1. git pull from origin main
# 2. cp .env.example .env //copy the example file to new file .env (you only need to do in the first time)
# 3. put "your own TMDB token" as veriable in .env file (you only need to do in the first time)
# 4. python run.py test the website
# 5. push back to main (INSURE: the CHANGES/STAGED CHANGES don't include the .env file)
###
# Next time start coding
# 1. git pull
# 2. create new branch
# 3. python run.py test the website...
## The .env files will stay at your local, so you only need to paste the token one time for setting


# TMDB API token (get from https://developer.themoviedb.org)
TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxYmZhM2ZlMjdkMzQyMGZjMjBhYzUxZjZkNDc5MmVmNSIsIm5iZiI6MTc3ODY2MDQ3NC4yNTcsInN1YiI6IjZhMDQzNDdhYTQ3ZmFiMmMzNDY5YjYxNiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.2AWXzc35M-R3dDddOnrREP_C82HKlFpgXzKmvhPo1xQ